<style>
    .contenthistorial,.table{
        color: black !important;
        font-size: small !important;
    }


</style>


<div class="container-fluid">
        
    <div class="card">        
        <div class="card-body">                                  
            <input type="text" class="form-control" id="datatable-search-input" placeholder="Buscar"/>
            
        </div>        
      </div>
      
    <div id="contenthistorial">
        <table class="table " id="Tbl-HisCasos">
            <caption>Lista de casos</caption>
            <thead>
            <tr>
                <th scope="col"># Caso</th>
                <th scope="col">Fecha</th>
                <th scope="col">Asesor</th>                            
                <th scope="col">Campaña</th>
                <th scope="col">Supervisor</th>
                <th scope="col">Nota</th>
                <th scope="col">Estado</th>
                <th scope="col">Detalle</th>
            </tr>
            </thead>
            <tbody>
            
            {% for i in arrayGestionH %}                            
                <tr>
                    <td> {{ i[0] }}</td>
                    <td> {{ i[1] }}</td>
                    <td> {{ i[2] }}</td>
                    <td> {{ i[3] }}</td>
                    <td> {{ i[4] }}</td>
                    <td> {{ i[5] }}</td>                                
                    <td> {{ i[6] }}</td>
                    <td style="width: 10%;">
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="Button" id="btn_ediCaso" class="btn btn-info btn_ediCaso">
                                <img width="20px" height="5%"src="https://cdn-icons-png.flaticon.com/512/1160/1160515.png"></img>
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button type="Button" id="btn_verCaso" class="btn btn-info btn_verCaso">
                                <img width="20px" height="5%"src="  https://cdn-icons-png.flaticon.com/512/954/954591.png"></img>
                            </button>
                        </div>
                    </div>
                    </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<!-- Monitoreo Modal-->

<style>
.modal-content,.modal-body,.modal-body,.card,h6{
    color: black;

}

</style>

<div class="modal fade modal-fullscreen-xxl-down" id="Mdl-InfoAfect" tabindex="-1"
     role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
     style="width: 100%;">
    <div class="modal-dialog" style="max-width: 90%;" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gradient-primary">
                <h5 class="modal-title" style="color:white " id="ModalHCasosTit">Detalles caso</h5>                                
            </div>
            <!--CARD CASO-->
            <div class="modal-body" style="height: 100%;width: 100%;overflow-y: auto;">
                <div class="card shadow p-3 mb-3 bg-white rounded">
                    <div class="row mt-1">
                        <div class="col-sm-2">
                            <h6 class="card-text">Numero</h6>
                        </div>
                        <div class="col-sm-2">
                            <span id="lbl_caso"></span>
                        </div>
                        <div class="col-sm-2">
                            <h6 class="card-text">Fecha</h6>
                        </div>
                        <div class="col-sm-2">
                            <span id="lbl_fecha"></span>
                        </div>
                        <div class="col-sm-2">
                            <span class="card-text">Estado</span>
                        </div>
                        <div class="col-sm-2">
                            <span id="lbl_EstCaso">Abierto</span>
                        </div>
                    </div>
                </div>
                           
                
                <div class="row" style="color:black; font-size:small;text-align: left;">                    
                    <!--Card auditor-->
                    <div class="col-6">
                        <div class="card shadow-lg p-3 mb-3 bg-white rounded">
                            <h5 class="card-header bg-gradient-primary" style="color:white ;">Auditor</h5>
                            <div class="card-body">
                                <div class="row text-dark">
                                    <div class="col-5">
                                        <strong>Nombre auditor</strong>
                                    </div>
                                    <div class="col-7">
                                        <p class="card-text" id="lbl_NomAud"></p>
                                    </div>                        
                                </div>
                                <div class="row text-dark  mt-1">
                                    <div class="col-3">
                                        <strong class="card-title">Perfil</strong>
                                    </div>
                                    <div class="col-3">
                                        <p class="card-text" id="lbl_perAud"></p>
                                    </div>
                                    <div class="col-3">
                                        <strong class="card-title">Campaña</strong>
                                    </div>
                                    <div class="col-3">
                                        <p class="card-text" id="lbl_CamAud"></p>
                                    </div>                         
                                </div>
                                <div class="row text-dark  mt-1">
                                    <div class="col-3">
                                        <strong class="card-title">Tipo monitoreo</strong>
                                    </div>
                                    <div class="col-3">
                                        <p class="card-text" id="lbl_TipMon"></p>
                                    </div>
                                    <div class="col-3">
                                        <strong class="card-title">Fecha Monitoreo</strong>
                                    </div>
                                    <div class="col-3">
                                        <p class="card-text" id="lbl_FecMon"></p>
                                    </div>                         
                                </div>
                            
                            </div>
                        </div>
                    </div>
                    <!--Card Asesor-->
                    <div class="col-6">
                        <div class="card shadow-lg p-3 mb-3 bg-white rounded">
                            <h5 class="card-header bg-gradient-primary" style="color:white ;">Asesor</h5>
                            <div class="card-body">
                            <div class="row text-dark">
                                <div class="col-5">
                                    <span style="text-transform: capitalize;font-weight: bold;">Nombre asesor</span>
                                </div>
                                <div class="col-7">
                                    <p class="card-text" id="Lbl-nomAse"></p>
                                </div>
                            </div>

                            <div class="row text-dark">
                                <div class="col-3">
                                    <strong>Perfil</strong>
                                </div>
                                <div class="col-5">
                                    <p class="card-text" id="lbl-PerAse"></p>
                                </div>

                                <div class="col-2">
                                    <strong>Estado</strong>
                                </div>
                                <div class="col-2">
                                    <p  class="card-text" id="lbl_estase" ></p>
                                </div>                            
                            </div>

                            <div class="row text-dark">
                                <div class="col-3">                                    
                                        <strong>Supervisor</strong>
                                    </div>
                                    <div class="col-9">
                                        <p id="lbl_supase" class="card-text"></p>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow-lg p-3 mb-5 bg-white rounded">                    
                    <h5 class="card-header bg-gradient-primary" style="color:white ;">Detalle Monitorieo</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="div col"></div>
                            <div class="div col">
                                <table class="table" id="tblNotas">
                                    <thead>
                                        <tr class=" bg-gradient-info" style="color:white ;">
                                            <th scope="Col">Nota Monitoreo</th>
                                            <th colspan="1" scope="Col">EC</th>
                                            <th colspan="1" scope="Col">ENC</th>
                                            <th colspan="1" scope="Col">TE</th>
                                        </tr>                                
                                    </thead>
                                    <tbody style="border: 1px black solid ;">
                                        <tr>
                                            <th scope="col" id="lbl_hNotMonTotal">100</th>
                                            <th scope="col" id="lbl_hNotMonec">0</th>
                                            <th scope="col" id="lbl_hNotMonenc">0</th>
                                            <th scope="col" id="lbl_hNotMonte">0</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="div col"></div>
                        </div>
                        <div class="row">
                                
                            <table class="table table-striped">
                                <thead>
                                    <tr  scope="col">
                                        <h5 class="card-header" style="color:black; text-align: Center;">Items afectados</h5>
                                    </tr>
                                    <tr>
                                        <td  scope="col">item</td>
                                        <td  scope="col">Tipo</td>
                                        <td  scope="col">Peso</td>
                                        <td  scope="col">Calificacion</td>
                                    </tr>
                                </thead>
                                <tbody id="tbl_HisMon" style="color:black ;text-align: left;" >

                                </tbody>                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-CloseModalFormMon"  class="btn btn-secondary " data-dismiss="modal">Cerrar</button>
                <button type="button" id="btn-guaForMon"  class="btn btn-primary" data-dismiss="modal">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>


<script 
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous">
</script>


<script language="javascript">    
    var server = "http://10.206.169.143:5000";
    var csrf_token = "{{ csrf_token() }}"; 
    var url ="/DetCaso"

    var btnSelection = document.getElementsByClassName('btn_verCaso');
    for(let i = 0; i < btnSelection.length; i++) {
        btnSelection[i].addEventListener("click", function() {
        $("#Tbl-HisCasos").on('click','#btn_verCaso',function(){
            var currentRow=$(this).closest("tr"); 
            var col1=currentRow.find("td:eq(0)").text(); // get current row 1st TD value 
            const options = {
            method: "POST",
            headers: {
                'Accept': 'application/json, text/plain, */*',
                'Content-Type': 'application/json',                
                "X-CSRFToken": csrf_token,
            },
            body: JSON.stringify({Caso:col1})
            };                    
            fetch(url,options).then(response => response.text())
                .then(data => {
                    const json = JSON.parse(data);
                    //console.log(json);                    
                    $('#Mdl-InfoAfect').modal('toggle');
                    $("#lbl_caso").html(json['05'])
                    $("#lbl_fecha").html(json['13'])
                    $("#lbl_EstCaso").html(json['26'])
                    $("#lbl_NomAud").html(json['10'])

                    $("#lbl_perAud").html(json['09'])
                    $("#lbl_CamAud").html(json['11'])
                    $("#lbl_TipMon").html(json['12'])
                    $("#lbl_FecMon").html(json['13'])

                    $("#Lbl-nomAse").html(json['00'])
                    $("#lbl-PerAse").html(json['01'])
                    $("#lbl_supase").html(json['02'])
                    $("#lbl_estase").html(json['03'])
                    
                    $("#lbl_hNotMonTotal").html(json['22'])
                    $("#lbl_hNotMonec").html(json['23'])
                    $("#lbl_hNotMonenc").html(json['24'])
                    $("#lbl_hNotMonte").html(json['25'])
                    
                    
                    for(var i of json['items']){
                        console.log(i)
                        //let obj = values[i];
                        let row = i;


                        lista = document.getElementById("tbl_HisMon");
                        var tr = document.createElement("tr");

                        var columna0 = document.createElement("td");
                        columna0.innerHTML = row[0];
                        //columna0.setAttribute("id", "Row" + i + "col0");
                        //columna0.setAttribute("style", "display:none");

                        /*console.log('#TblFormcol'+i+'-'+j);*/
                        var columna1 = document.createElement("td");
                        columna1.innerHTML = row[1];
                        //columna1.setAttribute("id", "Row" + i + "col0");

                        var columna2 = document.createElement("td");
                        /*console.log(typeof(row[2]))*/
                        columna2.innerHTML = row[2]*100+"%";
                        //columna2.setAttribute("id", "Row" + i + "col1");

                        var columna3 = document.createElement("td");
                        /*console.log(typeof(row[2]))*/
                        columna3.innerHTML = row[3];
                        //columna2.setAttribute("id", "Row" + i + "col1");

                        
                        lista.appendChild(tr);
                        tr.appendChild(columna0);
                        tr.appendChild(columna1);
                        tr.appendChild(columna2);    
                        tr.appendChild(columna3);                        
                    
                    }
                    
                    
                    
                    
                    
                });

        })
    })
    }

        

</script>






