.selected-row {
    background-color: #007BFF !important; /* Color de fondo cuando se selecciona */
    color: #FFFFFF !important; /* Color del texto cuando se selecciona */
    }
    .table{
        color: black;
        text-align: left;
    }

.table-container {
        max-height: 600px; /* Altura máxima del tbody con desplazamiento */
        overflow-y: auto; /* Activar el desplazamiento vertical */
        position: relative; /* Necesario para posicionar el thead */
    }

    /* Estilo para el thead fijo */
    thead {
        position: sticky;
        top: 0;
        background-color: #f2f2f2;
        z-index: 1; /* Asegura que el encabezado esté sobre el tbody */
    }