{% extends 'BaseDashboard.html' %}

{% block title %}CRM CND{% endblock %}

{% block Body %}

<style>
  form, label {
    color: black;
  }
  form input {
    color: black !important;
  }

  form select input {
    border: 1px solid black;
  }

  #tblNotas th {
    border: 1px solid black !important;
  }

  form{
    text-align: left !important;
    }
</style>



<h1 class="h3 mb-3 text-gray-800">Formulario calidad</h1>

<table class="table table-bordered table-ligth" id="tblNotas">
  <thead>
    <tr>
      <th scope="Col">Nota Muestra</th>
      <th colspan="1" scope="Col">EC</th>
      <th colspan="1" scope="Col">ENC</th>
      <th colspan="1" scope="Col">TE</th>
    </tr>
    <tr>
      <th scope="col" id="lbl_NotMonTotal" style="background-color:#4ed2ad ;color: black;" >100</th>
      <th scope="col" id="lbl_NotMonec">0</th>
      <th scope="col" id="lbl_NotMonenc">0</th>
      <th scope="col" id="lbl_NotMonte">0</th>
    </tr>
  </thead>
</table>




<form class="row g-3 mt-3" autocomplete="off">
  <!--method="post" action="/MonReg"-->
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- Datos de monitor--> 
        <h2>Datos del auditor</h2>
        <div class="form-group row">
          <div class="col-sm-6">
            <label for="SelAuditor" class="form-label">Auditor</label>
          </div>
          <!--<h2>{{current_user.nombre}}</h2>-->
          <div class="col-sm-6">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-lg example"
              name="SelAuditor"
              id="SelAuditor"
              disabled
            >
                <option>Seleccione..</option>
              {% for i in Perfiles%}
                {% if current_user.nombre==i[0] %}
                  <option selected>{{i[0]}}</option>
                {% else %}
                  <option>{{i[0]}}</option>
                {% endif %}                  
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <label for="inpSede" class="form-label">CND</label>
          </div>
          <div class="col-sm-6">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-lg example"
              name="inpSede"
              id="inpSede"
              disabled
            >
              <option selected>Seleccione...</option>
              {% set arrayRegional=[] %}
              {% for i in Perfiles %}
                {% if i[1] not in arrayRegional %}
                  {{ arrayRegional.append(i[1]) }}
                {% endif%}
                {% endfor %}
                {% for i in arrayRegional %}
                  {% if current_user.ciudad=="BOGOTA" and i=="CENTRO"%}
                    <option value="{{i}}"selected >{{ i }}</option>
                  {% elif current_user.ciudad=="CALI" and i=="OCCIDENTE"%}
                    <option value="{{i}}"selected >{{ i }}</option>
                  {% endif %}
                {% endfor %}
              
            </select>            
          </div>
        </div>
        <h5>{{ DicDatForm['NombreAud'] }}</h5>
        <div class="form-group row">
          <div class="col-sm-6">
            <label for="SelAreaMon" class="form-label"
              >Area que monitorea</label>
          </div>
          <div class="col-sm-6">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-lg example"
              name="SelAreaMon"
              id="SelAreaMon"
              disabled
            >
              <option selected>Seleccione...</option>
              {% set arrayperfil=[] %}
              {% for i in Perfiles %}
                {% if i[2] not in arrayperfil %}
                  {% if current_user.cargo==i[2]%}
                    <option value="{{i[2]}}" selected>{{i[2]}}</option>
                  {% else %}
                    <option value="{{i[2]}}">{{i[2]}}</option>
                  {% endif %}
                {{ arrayperfil.append(i[2]) }}
                {% endif %}
              {% endfor%}
            </select>
          </div>
        </div>
        

        <div class="form-group row">
          <div class="col-sm-6">
            <label for="SeltipGes" class="form-label">Gestion</label>
          </div>
          <div class="col-sm-6">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-lg example"
              name="SeltipGes"
              id="SeltipGes"
            >
              <option selected>Seleccione...</option>
              {% for i in DicDatForm['PORCESO'] %}
              <option value="{{i}}">{{i}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <label for="SeltipMon1" class="form-label">Tipo de monitoreo</label>
          </div>
          <div class="col-sm-6">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-lg example"
              name="SeltipMon1"
              id="SeltipMon1"
            >
              <option selected>Seleccione...</option>
              {% for i in DicDatForm['TIPOAUD'] %}
              <option value="{{i}}">{{i}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <label for="inputFechMon" class="form-label">Fecha Monitoreo</label>
          </div>
          <div class="col-sm-6">
            <input
              type="date"
              class="form-control"
              id="inputFechMon"
              name="inputFechMon"
              required
            />
          </div>
        </div>
      </div>
      <div class="col">
        <h2>Datos agente</h2>
        <div class="form-group row">
          <div class="col-sm-4">
            <label for="inputCedAse" class="form-label">Cedula asesor</label>
          </div>
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control"
              id="inputCedAse"
              name="inputCedAse"
              required
            />
          </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="inputNomAse" class="form-label">Nombre asesor</label>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputNomAse" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4">
                <label for="inputProAse" class="form-label">Proceso asesor</label>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputProAse" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="inputCooAse" class="form-label">Coordinador</label>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputCooAse" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4">
                <label for="inputForAse" class="form-label">Login</label>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputForAse" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="inputfecIngAse" class="form-label">Fecha Ingreso</label>
            </div>
            <div class="col-sm-8">
                <input
                  type="date"
                  class="form-control"
                  id="inputfecIngAse"
                  name="inputfecIngAse"
                  required
                />


                <!--<input  type="text"
                    class="form-control"
                    name="inputfecIngAse"
                    id="inputfecIngAse"-->
                
            </div>
        </div>
      </div>
    </div>

    <h2>Datos del Monitoreo</h2>
    <!--Datos del auditor-->
    <div class="row">
        <div class="col-6">
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="inputCueAse" class="form-label">Cuenta</label>
                </div>
                <div class="col-sm-6">
                    <input
                    type="text"
                    class="form-control"
                    id="inputCueAse"
                    name="inputCueAse"
                    required
                    />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="inputOrdAse" class="form-label">Orden</label>
                </div>
                <div class="col-sm-6">
                    <input
                    type="text"
                    class="form-control"
                    id="inputOrdAse"
                    name="inputOrdAse"
                    required
                    />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="inpFechAge" class="form-label">Fecha agendamiento</label>
                </div>
                <div class="col-sm-6">                    
                    <input
                      type="date"
                      class="form-control"
                      id="inpFechAge"
                      name="inpFechAge"
                      required
                    />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="SelTipOrd" class="form-label">Tipo de orden</label>
                </div>
                <div class="col-sm-6">
                    <select type="text" class="form-select form-select-sm" aria-label=".form-select-lg example"
                     id="SelTipOrd" name="SelTipOrd" >
                        <option selected>Seleccione...</option>
                        {% for i in DicDatForm['TIPOORDEN'] %}
                            <option value="{{i}}">{{i}}</option>
                        {% endfor %}

                    </select>
                </div>
            </div>

        </div>
        <div class="col-6">
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="inputidlla" class="form-label">ID LLAMADA WFO</label>
                </div>
                <div class="col-md-8">
                    <input type="text" id="inputidlla" class="form-control" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">
                    <label for="SelRazonMon" class="form-label">Razon</label>
                </div>
                <div class="col-md-8">
                    <select class="form-select form-select-sm" aria-label=".form-select-lg example"
                            name="SelRazonMon"
                            id="SelRazonMon"
                            >
                            <option selected>Seleccione...</option>
                            {% for i in DicDatForm['COMODIN1'] %}
                                <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <!--<div class="col-md-4">
                    <label for="selHorReg" class="form-label">Hora registro</label>
                </div>
                <div class="col-md-8">
                    <select class="form-select form-select-sm"
                            aria-label=".form-select-lg example"
                            name="selHorReg"
                            id="selHorReg"
                            >
                            <option selected>Seleccione...</option>
                            {% for i in DicDatForm['Tiempos'] %}
                                <option >{{i}}</option>
                            {% endfor %}
                    </select>
                </div>-->
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <input type="text" hidden id="inputIteAfe" >
                </div>
            </div>

        </div>
    </div>
    <!--Datos del monitoreo observaciones-->
    <div class="row">
        <div class="form-group row">
            <div class="col-md-2">
                <label for="inpuObseMon" class="form-label">Observaciones</label>
            </div>
            <div class="col-md-10"></div>
            <textarea
                    class="form-control"
                    id="inpuObseMon"
                    name="inpuObseMon"
                    required
                >
            </textarea>
            </div>
    </div>
    <hr style="border-color: cornflowerblue" />



    <!--Botones-->
    <div class="row" style="text-align: center;">
        <div class="col-sm-6">
            <button
            type="button"
            id="Btn-GraForMon"
            name="Btn-GraForMon"
            class="btn btn-primary"
            >
            Grabar
            </button>
        </div>

        <div class="col-sm-6">
            <button
            type="button"
            id="btn-FromEva"
            Nombre="btn-FromEva"
            class="btn btn-secondary"
            >
            Formulario
            </button>
        <!--data-target="#FormCalidadModal" data-toggle="modal"-->
    </div>
</div>

</form>


<!-- Monitoreo Modal-->

<div
  class="modal fade modal-fullscreen-xxl-down"
  id="FormCalidadModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
  style="width: 100%"
>
  <div class="modal-dialog" style="max-width: 90%" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TitModForMon">
          
        </h5>
      </div>
      <div
        class="modal-body"
        style="height: 100%; width: 100%; overflow-y: auto"
      >
        <table
          class="table table-bordered"
          style="justify-content: center; text-align: left; color:black"
        >
          <thead>
            <tr>
              <th scope="col" hidden>IDITEM</th>
              <th scope="col">BLOQUE DE EVALUACIÓN</th>
              <th scope="col">PUNTO DE CONTROL</th>
              <th scope="col">TIPOLOGÍA</th>
              <th scope="col">PUNTO DE ENTRENAMIENTO</th>
              <th scope="col">TIPO</th>
              <th scope="col">PESO</th>
              <th scope="col">CUMPLIMIENTO</th>
            </tr>
          </thead>
          <tbody style="font-size: 10px" id="tbl_formularioMon"></tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="btn-CloseModalFormMon"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Cerrar
        </button>
        <button type="button" id="btn-guaForMon" class="btn btn-primary">
          Guardar cambios
        </button>
      </div>
    </div>
  </div>
</div>

<!--Modal Confirmacion envio-->
<!-- Button to Open the Modal -->
<!-- The Modal -->
<div class="modal" id="ModalConfMon">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Operacion exitosa!</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="AlertCasoCreado">
        Datos de monitoreo guardados con exito! caso # numero
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" id="btnCerrModNueCas" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='/js/funcionesApp/ArbolFunciones.js') }}"></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"
></script>



<script>  
  var csrf_token = "{{ csrf_token() }}";
  var op_num = { ced: 0 };
  var idMon="{{current_user.id}}";

  Date.prototype.toDateInputValue = (function() {
    var local = new Date(this);
    local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
    return local.toJSON().slice(0,10);
  })
  
  document.getElementById('inputFechMon').value = new Date().toDateInputValue();

  $(function () {

    $("#inputCedAse").keyup(function () {      
      var n1 = parseInt($("#inputCedAse").val());
      options=HeaderFetch(csrf_token,{cedula:n1})        
      fetch("/GetDataAseMOn",options).then(response => response.text()).then(data => {
        //const data = JSON.parse(data);
        const json = JSON.parse(data);  
        if(json['Nombre']!=null){
          contador=0
          ArrayValuesJson=Object.values(json)
          ArrayidTag=["#inputNomAse","#inputProAse","#inputEstAse","#inputCooAse","#inputfecIngAse","#inputForAse"]
          FillData(ArrayValuesJson,ArrayidTag)          
        };
        delete json
      });

    });

    $("#btn-FromEva").click(function () {
      var appdir = "/GetDataFormMon";
      var text = document.getElementById("SeltipGes");
      var OpcSel = text.options[text.selectedIndex].text;
      document.getElementById("TitModForMon").innerHTML="Formulario mointoreo "+OpcSel
      var x = document.getElementById("btn-FromEva");
      if (OpcSel === "Seleccione...") {
        Swal.fire({
          icon: 'error',
          title: 'Campaña no selecionada',
          text: 'Seleccione un segmento valido para el asesor seleccionado!'          
        })
        $("#SeltipGes").focus()
        //alert("Seleccione un segmento valido para el asesor seleccionado");
        x.removeAttribute("data-target", "#FormCalidadModal");
        x.removeAttribute("data-toggle", "modal");
        return
      } else {

        let list = document.getElementById("tbl_formularioMon");
        // As long as <ul> has a child node, remove it
        while (list.hasChildNodes()) {
          list.removeChild(list.firstChild);
        }
        /*data-target="#FormCalidadModal" data-toggle="modal"-->
        /*if(document.getElementById('inputIteAfe').value!="" ){
          //comprobar mismos items          
          JsonDatos=JSON.parse(document.getElementById('inputIteAfe').value)
          FillFormEva(JsonDatos)
          return 
        }*/
        
        x.setAttribute("data-target", "#FormCalidadModal");
        x.setAttribute("data-toggle", "modal");


        $.ajax({
          type: "POST",
          url: appdir,
          data: { Campaña: OpcSel },
          dataType: "json",
          headers: {
            "X-CSRFToken": csrf_token,
          },
        }).done(function (data) {
          var values = data["DicDatForm"];
          for (let i = 0; i < values.length; i++) {

            let obj = values[i];
            let row = Object.values(obj);



            lista = document.getElementById("tbl_formularioMon");
            var tr = document.createElement("tr");

            var columna0 = document.createElement("th");
            columna0.innerHTML = row[0];
            columna0.setAttribute("id", "Row" + i + "col0");
            columna0.setAttribute("style", "display:none");

            /*console.log('#TblFormcol'+i+'-'+j);*/
            var columna1 = document.createElement("th");
            columna1.innerHTML = row[1];
            columna1.setAttribute("id", "Row" + i + "col0");

            var columna2 = document.createElement("th");
            /*console.log(typeof(row[2]))*/
            columna2.innerHTML = row[2];
            columna2.setAttribute("id", "Row" + i + "col1");

            var columna3 = document.createElement("th");
            columna3.innerHTML = row[3];
            columna3.setAttribute("id", "Row" + i + "co2");

            var columna4 = document.createElement("th");
            columna4.innerHTML = row[4];
            columna4.setAttribute("id", "Row" + i + "col3");
            var columna5 = document.createElement("th");
            columna5.innerHTML = row[5];
            columna5.setAttribute("id", "Row" + i + "col4");
            var columna6 = document.createElement("th");

            columna6.innerHTML = row[6];
            columna6.setAttribute("id", "Row" + i + "col5");


            let select = document.createElement("select");
            select.setAttribute("class", "form-select");
            select.setAttribute("id", "Row" + i + "col7");
            select.style.width = "200px";
            select.style.top = "50px";
            
            let option1 = document.createElement("option");
            let nomclas = "SelOpcForMon0" + i;
            option1.setAttribute("class", nomclas);
            option1.setAttribute("id", nomclas);

            /*document.getElementById(nomclas).selected = true;*/
            /*option1.getElementById("SelOpcForMon"+i).selected = true;*/
            if(row[3]=="ESCALA 1 A 5"){

              option1.setAttribute("value", "None");
              let option1Texto = document.createTextNode("No aplica");
              option1.appendChild(option1Texto);
              select.appendChild(option1);

              let option2 = document.createElement("option");
              option2.setAttribute("value", "1");

              let option2Texto = document.createTextNode("1");
              option2.appendChild(option2Texto);
              select.appendChild(option2);

              let option3 = document.createElement("option");
              option3.setAttribute("value", "2");
              let option3Texto = document.createTextNode("2");
              option3.appendChild(option3Texto);
              select.appendChild(option3);

              let option4 = document.createElement("option");
              option4.setAttribute("value", "2");
              let option4Texto = document.createTextNode("3");
              option4.appendChild(option4Texto);
              select.appendChild(option4);


              let option5 = document.createElement("option");
              option5.setAttribute("value", "2");
              let option5Texto = document.createTextNode("4");
              option5.appendChild(option5Texto);
              select.appendChild(option5);

              let option6 = document.createElement("option");
              option6.setAttribute("value", "2");
              let option6Texto = document.createTextNode("5");
              option6.appendChild(option6Texto);
              select.appendChild(option6);

              document.body.appendChild(select);

            }else{
              option1.setAttribute("value", "None");
              let option1Texto = document.createTextNode("No aplica");
              option1.appendChild(option1Texto);
              select.appendChild(option1);

              let option2 = document.createElement("option");
              option2.setAttribute("value", "Cumple");

              let option2Texto = document.createTextNode("Cumple");
              option2.appendChild(option2Texto);
              select.appendChild(option2);

              let option3 = document.createElement("option");
              option3.setAttribute("value", "No_Cumple");
              let option3Texto = document.createTextNode("No cumple");
              option3.appendChild(option3Texto);
              select.appendChild(option3);

              document.body.appendChild(select);}

            lista.appendChild(tr);
            tr.appendChild(columna0);
            tr.appendChild(columna1);
            tr.appendChild(columna2);
            tr.appendChild(columna3);
            tr.appendChild(columna4);
            tr.appendChild(columna5);
            tr.appendChild(columna6);
            tr.appendChild(select);
          }
        });
      }
    });

    $("#btn-guaForMon").click(function () {
      x = document.querySelector("#btn-guaForMon");
      x.removeAttribute("data-dismiss");
      
      var rowsTable = document.getElementById("tbl_formularioMon").rows.length;      
      var datos = [];
      var objeto = {};

      for (let i = 0; i < rowsTable; i++) {
        var idItem = document.getElementById("Row" + i + "col0").innerHTML;
        var Tipo = document.getElementById("Row" + i + "co2").innerHTML;
        var Item = document.getElementById("Row" + i + "col3").innerHTML;
        var Peso = document.getElementById("Row" + i + "col5").innerHTML;
        var Precicion = document.getElementById("Row" + i + "col4").innerHTML;
        var evalItem = document.getElementById("Row" + i + "col7");

        var OpcSel = evalItem.options[evalItem.selectedIndex].text;
        if (OpcSel == "Seleccione...") {
          document.getElementById("Row" + i + "col7").focus();
          return;
        } else {
          datos.push({
            IdItem: idItem,
            Tipologia:Tipo,
            Item: Item,
            Peso: Peso,
            Precicion: Precicion,
            Calificacion: OpcSel,
          });
        }
      }

      objeto.datos = datos;
      DicCal = JSON.stringify(objeto);
      $("#inputIteAfe").val(JSON.stringify(objeto));
      /*colocar al boton propiedad para ocultar modal*/
      x = document.querySelector("#btn-guaForMon");
      x.setAttribute("data-dismiss", "modal");
      /*hacer los calculos para nota*/
      //alert("calcular nota!")
      $.ajax({
        type: "POST",
        url: "/CalcNotaMon",
        data: { DatoForm: DicCal },
        dataType: "json",
        headers: {
          "X-CSRFToken": csrf_token,
        },
      }).done(function (data) {
        if(parseInt(data["NotaTotal"])==100){
          $("#lbl_NotMonTotal").css("background-color","#4ed2ad")}
        else if(parseInt(data["NotaTotal"]>=80 & parseInt(data["NotaTotal"])<=89)){
          $("#lbl_NotMonTotal").css("background-color","#ff6d2a")
        }
        else if(parseInt(data["NotaTotal"])<=79){
          $("#lbl_NotMonTotal").css("background-color","#d1052a");
        }

        $("#lbl_NotMonTotal").html(data["NotaTotal"]);
        $("#lbl_NotMonec").html(data["TotalCrit"]);
        $("#lbl_NotMonenc").html(data["TotalNoCritico"]);
        $("#lbl_NotMonte").html(data["SumaCritico"]);        
      });
    });

    /*funcion pra enviar el formulario completo  base de datos*/
    $("#Btn-GraForMon").click(function () {
        datos=[]
      //datos de los inputs
      for (let dato of ["inputCedAse","inpSede","inputFechMon","inputCueAse","inputOrdAse","inpFechAge","inputidlla","inpuObseMon"]) {
        datos.push(document.getElementById(dato).value);
      };
      //datos de los selects
      for (let selector of ["SelAreaMon","SelAuditor","SeltipGes","SeltipMon1","SelTipOrd","SelRazonMon"]){
        var evalItem = document.getElementById(selector);
        var OpcSel = evalItem.options[evalItem.selectedIndex].text;
        if (OpcSel == "Seleccione...") {
          document.getElementById(selector).focus();
          datos=[]
          return;
        }else{
            datos.push(OpcSel);
        }
      }
      datos.push("N/A");
      //valores label calificacion
      for (let dato of [
        "lbl_NotMonTotal",
        "lbl_NotMonec",
        "lbl_NotMonenc",
        "lbl_NotMonte",
      ]) {
        datos.push(document.getElementById(dato).innerHTML);
      }
      //var IdAuditor=${current_user.id}

      datos.push(document.getElementById("inputIteAfe").value);

      

      datos=[datos[0],idMon ,datos[1],datos[8],datos[9],datos[10],datos[11],datos[2],datos[3],datos[4],datos[5],datos[12],
      datos[6],datos[13],datos[14],datos[7],datos[15],datos[16],datos[17],datos[18],datos[19]];
      

      const jsonString = JSON.stringify(Object.assign({}, datos));
      //console.log(jsonString)

      $.ajax({
        type: "POST",
        url: "/updgestionMon",
        data: { DatoMon: jsonString },
        dataType: "json",
        headers: {
          "X-CSRFToken": csrf_token,
        },
      }).done(function (data) {        
        var casoCreado =
          "Se ha creado el caso " +
          data["RadMonitoreo"] +
          " con exito!\nconsultelo en el historial de monitoreos";
        $("#AlertCasoCreado").html(casoCreado);
        $("#ModalConfMon").modal("show");        
      });
    });

  
    $("#btnCerrModNueCas").click(function(){
      document.location.reload()
    })
  
  
  });


    
</script>

{% endblock %}
